@layer theme, base, antd, components, utilities;
@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --font-sans: "Inter", system-ui, sans-serif;
  --color-primary: #464fb4;
  --color-goku: #f5f5f5;
  --color-jiren: #e9e8f6;
  --color-hit: #40a69f;
  --color-beerus: #efefef;
  --color-zeno: #707070;
  --color-trunks: #595d62;
  --color-roshi: #2e7d32;
  --color-chichi: #ff4e64;
  --color-krillin: #ffb319;
  --color-whis: #3448f0;
  --color-dodoria: #d33030;
  --color-raditz: #b3804a;
  --color-app-bg: var(--app-bg);
  --color-app-bg-container: var(--app-bg-container);
  --color-app-text: var(--app-text);
  --color-app-border: var(--app-border);
  --color-app-primary: var(--app-primary);
}

@layer utilities {
  .auth-bg {
    @apply bg-[url(/images/auth-bg.png)];
  }

  a {
    color: inherit !important;
    text-decoration: none;
  }

  .selecto-selection {
    display: none !important;
  }
}
